.backbutton2[b-nbd54tv04d] {
    border-radius: 200px;
    background-color: #FF4500;
    border: none;
}

.postbutton[b-nbd54tv04d] {
    border-radius: 100px;
    background-color: #FF4500;
    border: none;


}