.titlebox {
    /*
    outline:solid;
    background-color: white;
    padding-inline: 100px;
    border-spacing: 100px;
        */
    /*WORK IN PROGRESS*/
    border: 2px solid black;
    background-color: white;
    border-collapse: separate;
    border-spacing: 50px;
}
/* Farve på box i threadpost*/
.threadbox {
    background-color: white;
    width: 300px;
    border: 5PX solid black;
    padding: 40px;
    margin: 20px;
}

.backbutton {
    border-radius: 200px;
    background-color: #FF4500;
    border: none;
}

.postcomment {
    border-radius: 200px;
    background-color: #FF4500;
    border: none;
}